<li [class.completed]="todo.completed" [class.editing]="todo.editing">
    <div class="view">
        <input class="toggle" type="checkbox" (click)="toggleCompletion()" [checked]="todo.completed">
        <label (dblclick)="edit(todo)">{{todo.title}}</label>
        <button class="destroy" (click)="remove()"></button>
    </div>
    <input class="edit" *ngIf="todo.editing" [value]="todo.title" #editedtodo (blur)="stopEditing(editedtodo)" (keyup.enter)="stopEditing(editedtodo)" (keyup.escape)="cancelEditing()">
</li>