<footer class="footer" *ngIf="getCount()">
    <span class="todo-count"><strong>{{ getRemainingCount() }}</strong> {{ getRemainingCount() == 1 ? 'item' : 'items' }} left</span>
    <ul class="filters">
        <li>
            <a [routerLink]="['/']" [class.selected]="getStatus() == ''">All</a>
        </li>
        <li>
            <a [routerLink]="['/status', 'active']" [class.selected]="getStatus() == 'active'">Active</a>
        </li>
        <li>
            <a [routerLink]="['/status', 'completed']" [class.selected]="getStatus() == 'completed'">Completed</a>
        </li>
    </ul>
    <button class="clear-completed" *ngIf="hasCompleted()" (click)="removeCompleted()">Clear completed</button>
</footer>
